<section class="container">
  <h2 class="title-statm">Transfers</h2>
  <table class="table-statm">
    <thead class="table-statm__head">
      <th class="table-statm__head__content">Date</th>
      <th class="table-statm__head__content">Value</th>
      <th class="table-statm__head__content">Destiny</th>
    </thead>
    <tbody *ngIf="transferencies?.length > 0; else listEmpty">
      <tr class="table-statm__line" *ngFor="let transferency of transferencies">
        <td class="table-statm__content">
          {{ transferency?.dateTransf | date: "short" }}
        </td>
        <td class="table-statm__content">
          {{ transferency?.valueTransf | currency }}
        </td>
        <td class="table-statm__content">
          {{ transferency?.destinyTransf }}
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #listEmpty>
    <p class="message-table">No registered operation</p>
  </ng-template>
</section>
