.title-statm {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.table-statm {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding:10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &__head {
    color: var(--primary);

    &__content {
      padding: 10px;
      border-bottom: 2px solid green;
    }
  }

  &__line {
    margin-bottom: 10px;
    border-radius: 4px;

    &:last-child {
      .table-statm__content {
        border-bottom: none;
      }
    }
  }

  &__content {
    padding: 10px;
    border-bottom: 1px solid var(--green-light);
  }
}

.message-table {
  text-align: center;
}
