:root {
  --primary: #369c38;
  --secondary: #132a13;
  --padding: 15px;
  --green: #405040;
  --green-light: #dedede;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--green);
}

.container {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
}

.button-link {
  background-color: #8bc34a;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

.button-link:hover {
  background-color: #72ad2e;
}
