:root {
  --primary: #369c38;
  --secondary: #132A13;
  --padding: 15px;
  --green: #405040;
  --green-light: #dedede;
}

* {
  font-family: "Roboto", sans-serif;
}

body{
  background-color: var(--green);
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
